.App {
  text-align: center;
}

.App-content {
  background-color: #22222F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-menu {
  background-color: #11111F;
}
