.App {
  text-align: center;
}

.App-content {
  background-color: #22222F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 14px;
  color: white;
}

.modal-header {
  justify-content: space-between
}

.card-list {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.bg-menu {
  background-color: #11111F;
}
